
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 bannerLeft">
                <h1>Made in India</h1>
                <p>R Pay- Ready to use platform that seamlessly manages your business with payments, promotions &amp; more</p>
                <div class="col-12 no-padd">
             </div>
            </div>
            <div class="col-md-6 col-xs-12 bannerRight">
                <img src="https://www.rpaywallet.com/images/banner_mobile.png" alt="mobile" title="mobile">
            </div>
        </div>
    </div>
</section>
<section class="about_rpay">
    <div class="container">
        <div class="row">
            <div class="col-md-6 about_rpay_left">
                <div class="download_appHead">About R Pay</div>
                <div class="download_appCont">Start your own mobile digital wallet today that people can use to store money &amp; transfer to others. Our solution can be adapted to the sole needs of our Clients and packed with great features and integrations. </div>
                <p>Roamsoft is software &amp; mobile application development Company which provides a very good technological platform for start-up companies across the world. Roamsoft introduces a digital wallet platform "R Pay" with customer app, merchant app, end- to- end admin panel.  Digital wallet will be the perfect solution for requesting payments from customers digitally.</p>
            </div>
            <div class="col-md-6 about_rpay_right">
                <img src="https://www.rpaywallet.com/images/works.png" alt="works" title="works">
            </div>
        </div>
    </div>
</section>
<section class="unique_fea">
    <div class="container">
        <div class="row">
            <div class="commonHead">Unique Features</div>
            <div class="commonCont">R Pay Wallet platform helps your businesses grow and provides features like a hassle- free sign up, load and sends money, withdraw cash, pay merchants, buy tickets, instant notification, limited liability etc. </div>
        </div>
        <div class="row">
            <div class="col-md-4 unique_fea_steps">
                <img src="https://www.rpaywallet.com/images/Load-send.png" alt="Load-send" title="Load-send">
                <h3>Load, send &amp; request money</h3>
                <p>Customers can load, send &amp; request money to their wallet</p>
            </div>
            <div class="col-md-4 unique_fea_steps">
                <img src="https://www.rpaywallet.com/images/scan-pay.png" alt="scan-pay" title="scan-pay">
                <h3>Scan &amp; Pay</h3>
                <p>Customers can pay for anything just scanning the QR code</p>
            </div>
            <div class="col-md-4 unique_fea_steps">
                <img src="https://www.rpaywallet.com/images/loyalty-program.png" alt="loyalty-program" title="loyalty-program">
                <h3>Loyalty Program</h3>
                <p>Loyalty programs can be offered to while purchasing.</p>
            </div>
            <div class="col-md-4 unique_fea_steps">
                <img src="https://www.rpaywallet.com/images/events-deals.png" alt="events-deals" title="events-deals">
                <h3>Events/Deals</h3>
                <p>Book tickets for the events posted by the merchants</p>
            </div>
            <div class="col-md-4 unique_fea_steps">
                <img src="https://www.rpaywallet.com/images/coupons.png" alt="coupons" title="coupons">
                <h3>Coupons</h3>
                <p>Online and offline coupons can be offered to the customers</p>
            </div>
            <div class="col-md-4 unique_fea_steps">
                <img src="https://www.rpaywallet.com/images/instant-notifi.png" alt="instant-notifi" title="instant-notifi">
                <h3>Instant Notifications </h3>
                <p>Get instant notification if any Feeds been posted by the merchant</p>
            </div>
        </div>
    </div>
</section>
<section class="choose_us">
    <div class="container">
        <div class="row choose_us_bor">
            <div class="commonHead">Why Choose us?</div>
            <div class="commonCont">R Pay provides a wallet platform which is a prominent multi-merchant site for you, compacting of recharges, bill payments, motion picture ticket booking and so on </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="choose_us_box">
                    <img src="https://www.rpaywallet.com/images/safe-sound-forever.png" alt="safe-sound-forever" title="safe-sound-forever">
                    <h3>Safe and Sound forever</h3>
                    <p>We have developed get through algorithms &amp; procedures to ensure one's account against unapproved gets to, so it is safe and secure</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="choose_us_box">
                    <img src="https://www.rpaywallet.com/images/safe-card-usage.png" alt="safe-card-usage" title="safe-card-usage">
                    <h3>Safe Card usage</h3>
                    <p>Our app use master card protected code and confirmed by visa systems to make sure only applicable/confirmed card owner Payments are processed</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="choose_us_box">
                    <img src="https://www.rpaywallet.com/images/two-factor-authentication.png" alt="two-factor-authentication" title="two-factor-authentication">
                    <h3>Two-factor Authentication</h3>
                    <p>Two-factor confirmation is a security layer for your account, intended to guarantee that you're the main individual who can get to the account</p>
                </div>
            </div>
        </div>
    </div>
</section>
